<!DOCTYPE html>
<html>
<head>
    <script src='{{url_for('static',filename='cookieTools.js')}}'></script>
    <script>
        function login()
        {
            if (window.XMLHttpRequest)
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp=new XMLHttpRequest();
          
            else
                // code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==201)
                {
                    var jsonResponse = JSON.parse(xmlhttp.responseText);
                    document.getElementById("myDiv").innerHTML = jsonResponse.status;
                    if(jsonResponse.status=="success")
                    {
                        var serialNum = jsonResponse.serialNum;
                        var identifier = jsonResponse.identifier;
                        var username = document.getElementById("usernameText").value;
                        setCookie("username",username,3600);
                        setCookie("serialNum",serialNum,3600);
                        setCookie("identifier",identifier,3600);
                        document.location.href = "/home";
                    }
                    
                }
            }
            var username = document.getElementById("usernameText").value;
            var password = document.getElementById("passwordText").value;
            var parameters = JSON.stringify({"username":username,"password":password});
            xmlhttp.open("POST","%userManagementURL%login",true);
            xmlhttp.setRequestHeader("Content-type", "application/json; charset=UTF-8");
            xmlhttp.send(parameters);
        }
        function register()
        {
            if (window.XMLHttpRequest)
                xmlhttp=new XMLHttpRequest();// code for IE7+, Firefox, Chrome, Opera, Safari
            else
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");// code for IE6, IE5
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==201)
                {
                    var jsonResponse = JSON.parse(xmlhttp.responseText);
                    document.getElementById("myDiv").innerHTML = jsonResponse.status;
                }
            }
            var username = document.getElementById("usernameText").value;
            var password = document.getElementById("passwordText").value;
            var parameters = JSON.stringify({"username":username,"password":password});
            xmlhttp.open("POST","%userManagementURL%register",true);
            xmlhttp.setRequestHeader("Content-type", "application/json; charset=UTF-8");
            xmlhttp.send(parameters);
            
        }
    </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> 
    <link href="{{ url_for('static',filename = 'loginLobby.css') }}" rel="stylesheet">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
</head>

<body>
    <div class='form-login'>
        <h2>Word Quiz beta</h2>
        
        <form>
            <input type="text" id = "usernameText" class="form-control"  placeholder='username'>
            <input type="password" id = "passwordText" class="form-control"  placeholder='password'><br>
            <input type="button" onclick="login()" value="login" class="btn btn-lg btn-primary btn-block" >
            <input type="button" onclick="register()" value="register" class="btn btn-lg btn-primary btn-block">
        </form>

        <div id="myDiv"></div>
    </div>

</body>
</html>
