<script src="{{url_for('static',filename='searchWordPage.js')}}"></script>
<input type="text" id="searchWordText">
<input type="button" onclick = "searchWord($('#searchWordText').val())" value="Search Word">
<table id = "wordsTable" class="table table-condensed" >
    <thead>
        <tr>
            <th>word</th>
            <th>reading</th>
            <th>meaning</th>
            <th>source</th>
            <th>sentence</th>
            <th>page</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
